:root {
    --darkblue: #415167;
}

.header{
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.header-left{
    width: calc(((100vw - 690px)/5)*3);
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.header-left-text{
    width: 470px;
    height: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    position: absolute;
    bottom: 64px;
    right: -230px;
    z-index: 1;
    color: var(--darkblue);
}
.header-left-text p{
    margin: 0;
}
.personalized{
    color: #F9FBFF;
    position: relative;
    /*background-color: #C7A17A;*/
    /*padding: 0 15px;*/
}
.personalized::before{
    content: "";
    position: absolute;
    top: 70px;
    right: -20px;
    background-color: #C7A17A;
    width: 490px;
    height: 65.5px;
    z-index: -1;
}
.header-left-logo{
    position: absolute;
    top: 72px;
    right: 132px;
}
.header-pic{
    width: 690px;
    height: 100%;
    background-color: #151D28;
    position: relative;
}
.header-pic-main{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header-pic-play{
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 51px);
    cursor: pointer;
}

.header-menu {
    min-width: 274px;
    width: calc(((100vw - 690px)/5)*2);
    height: 100%;
    background-color: var(--darkblue);
}